@import url("https://use.typekit.net/jaj7yqg.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// 
// fonts
// 

// cera config
@font-face {
    font-family: 'Cera';
    src: url('assets/fonts/cera-pro/typemates_-_cera-regular.woff2') format('woff2'),
         url('assets/fonts/cera-pro/typemates_-_cera-regular.woff') format('woff'),
         url('assets/fonts/cera-pro/typemates_-_cera-regular.svg#ceraregular') format('svg');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'Cera';
    src: url('assets/fonts/cera-pro/typemates_-_cera-black.woff2') format('woff2'),
         url('assets/fonts/cera-pro/typemates_-_cera-black.woff') format('woff'),
         url('assets/fonts/cera-pro/typemates_-_cera-black.svg#cerablack') format('svg');
    font-weight: 600; /* Black weight */
    font-style: normal;
}

@font-face {
    font-family: 'Cera';
    src: url('assets/fonts/cera-pro/typemates_-_cera-regular.woff2') format('woff2'),
         url('assets/fonts/cera-pro/typemates_-_cera-regular.woff') format('woff'),
         url('assets/fonts/cera-pro/typemates_-_cera-regular.svg#ceraregular') format('svg');
    font-weight: 200; /* Light weight */
    font-style: normal;
}

// segoe config
@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/segoe/segoe_ui_bold_italicsegoe.woff2') format('woff2'),
         url('assets/fonts/segoe/segoe_ui_bold_italicsegoe.woff') format('woff'),
         url('assets/fonts/segoe/segoe_ui_bold_italicsegoe.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/segoe/segoe_ui_boldsegoe.woff2') format('woff2'),
         url('assets/fonts/segoe/segoe_ui_boldsegoe.woff') format('woff'),
         url('assets/fonts/segoe/segoe_ui_boldsegoe.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/segoe/segoe_ui_italicsegoe.woff2') format('woff2'),
         url('assets/fonts/segoe/segoe_ui_italicsegoe.woff') format('woff'),
         url('assets/fonts/segoe/segoe_ui_italicsegoe.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('assets/fonts/segoe/segoe_uisegoe.woff2') format('woff2'),
         url('assets/fonts/segoe/segoe_uisegoe.woff') format('woff'),
         url('assets/fonts/segoe/segoe_uisegoe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$primary-font: "Segoe UI", Arial, sans-Serif;
$secondary-font: "Cera", Times, Serif;

$lineheight : 14;

$htitle : 136;

@mixin h-title {
	font-family: $secondary-font;
    font-size: $htitle + px;
    line-height: $htitle + $lineheight + px;
    margin-bottom: 30px;
	font-weight: 600;
	letter-spacing: -5px;
	color: $offblack;
	@include respond-to(md) {
	    font-size: $htitle * 0.75 + px;
	    line-height: $htitle * 0.6 + $lineheight + px;
		letter-spacing: -6px;
	}
	@include respond-to(lg) {
	    font-size: $htitle * 0.8 + px;
	    line-height: $htitle * 0.65 + $lineheight + px;
		letter-spacing: -7px;
	}
	@include respond-to(xl) {
	    font-size: $htitle + px;
	    line-height: $htitle * 0.85 + $lineheight + px;
		letter-spacing: -10px;
	}
	@include respond-to(tablet) {
	    font-size: $htitle * 0.75 + px;
	    line-height: $htitle * 0.6 + $lineheight + px;
	}
	@include respond-to(mobile) {
	    font-size: $htitle * 0.5 + px;
	    line-height: $htitle * 0.4 + $lineheight + px;
		letter-spacing: -5px;
	}
	@include respond-to(sm) {
	    font-size: $htitle * 0.5 + px;
	    line-height: $htitle * 0.4 + $lineheight + px;
		letter-spacing: -5px;
	}	
}

.header_title {
	@include h-title;
}

$hone : 80;

@mixin h-one {
	font-family: $secondary-font;
    font-size: $hone + px;
    line-height: 1;
    margin-bottom: 30px;
	font-weight: 600;
	letter-spacing: -5px;
	color: $navy;
	@include respond-to(md) {
	    font-size: $hone * 0.8 + px;
	}
	@include respond-to(lg) {
	    font-size: $hone * 0.9 + px;
	}
	@include respond-to(xl) {
	    font-size: $hone + px;
	}
	@include respond-to(tablet) {
	    font-size: $hone * 0.8 + px;
	}
	@include respond-to(mobile) {
	    font-size: $hone * 0.4 + px;
		letter-spacing: -1px;
	}
	@include respond-to(sm) {
	    font-size: $hone * 0.4 + px;
		letter-spacing: -1px;
	}	
}

h1, .large-header {
	@include h-one;
}


$htwo : 50;

@mixin h-two {
	font-family: $primary-font;
    font-size: $htwo + px;
	line-height: 1.2;
    margin-bottom: 30px;
	font-weight: 800;
	letter-spacing: -2px;
	color: $offblack;
	@include respond-to(md) {
	    font-size: $htwo * 0.8 + px;
	    // line-height: $htwo * 0.8 + $lineheight + px;
	}
	@include respond-to(lg) {
	    font-size: $htwo * 0.9 + px;
	    // line-height: $htwo * 0.9 + $lineheight + px;
	}
	@include respond-to(xl) {
	    font-size: $htwo + px;
	}
	@include respond-to(tablet) {
	    font-size: $htwo * 0.8 + px;
	    // line-height: $htwo * 0.8 + $lineheight + px;
	}
	@include respond-to(mobile) {
	    font-size: 36px;
	    // line-height: $htwo * 0.7 + $lineheight + px;
	}
	@include respond-to(sm) {
	    font-size: 36px;
	    // line-height: $htwo * 0.7 + $lineheight + px;
	}	
}

h2, .large-header {
	@include h-two;
}


$hthree : 26;

@mixin h-three {
	font-family: $primary-font;
    font-size: $hthree + px;
    line-height: 1.3;
    margin-bottom: 30px;
	font-weight: 600;
	letter-spacing: -0.5px;
	color: $offblack;
	@include respond-to(md) {
	    font-size: $hthree * 0.8 + px;
	    // line-height: $hthree * 0.8 + $lineheight + px;
	}
	@include respond-to(lg) {
	    font-size: $hthree * 0.9 + px;
	    // line-height: $hthree * 0.9 + $lineheight + px;
	}
	@include respond-to(xl) {
	    font-size: $hthree + px;
	}
	@include respond-to(tablet) {
	    font-size: $hthree * 0.8 + px;
	    // line-height: $hthree * 0.8 + $lineheight + px;
		letter-spacing: -1px;
	}
	@include respond-to(mobile) {
	    font-size: $hthree * 0.8 + px;
	    // line-height: $hthree * 0.8 + $lineheight + px;
		letter-spacing: -1px;
	}
	@include respond-to(sm) {
	    font-size: $hthree * 0.8 + px;
	    line-height: 1.2;
		letter-spacing: -1px;
	}	
}

h3, .medium-header {
	@include h-three;
}


$hfour : 20;

@mixin h-four {
	font-family: $primary-font;
    font-size: $hfour + px;
    line-height: $hfour + $lineheight + px;

    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 600;
	@include respond-to(md) {
	    font-size: $hfour * 0.8 + px;
	    line-height: $hfour * 0.8 + $lineheight + px;
	}
	@include respond-to(lg) {
	    font-size: $hfour * 0.9 + px;
	    line-height: $hfour * 0.9 + $lineheight + px;
	}
	@include respond-to(xl) {
	    font-size: $hfour + px;
	}
	@include respond-to(tablet) {
	    font-size: $hfour * 0.8 + px;
	    line-height: $hfour * 0.8 + $lineheight + px;
	}
	@include respond-to(mobile) {
		font-size: 16px;
	}
	@include respond-to(sm) {
		font-size: 16px;
	}	
}

h4 {
	@include h-four;
}


$hfive : 20;

@mixin h-five{
	font-family: $primary-font;
    font-size: $hfive + px;
    line-height: $hfive + $lineheight + px;
    margin-bottom: 30px;
	font-weight: 600;
	letter-spacing: -1px;
	@include respond-to(md) {
	    font-size: $hfive * 0.8 + px;
	    line-height: $hfive * 0.8 + $lineheight + px;
	}
	@include respond-to(lg) {
	    font-size: $hfive * 0.9 + px;
	    line-height: $hfive * 0.9 + $lineheight + px;
	}
	@include respond-to(xl) {
	    font-size: $hfive + px;
	}
	@include respond-to(tablet) {
	    font-size: $hfive * 0.8 + px;
	    line-height: $hfive * 0.8 + $lineheight + px;
	}
	@include respond-to(mobile) {
	    font-size: $hfive * 0.7 + px;
	    line-height: $hfive * 0.7 + $lineheight + px;
	}
	@include respond-to(sm) {
	    font-size: $hfive * 0.7 + px;
	    line-height: $hfive * 0.7 + $lineheight + px;
	}	
}

h5 {
	@include h-five;
}

$hsix : 20;

@mixin h-six{
	font-family: $secondary-font;
    font-size: $hsix + px;
    line-height: $hsix + 8 + px;
    font-weight: 600;
    margin-bottom: 10px;
	letter-spacing: 0px;
	@include respond-to(md) {
	    font-size: $hsix * 0.8 + px;
		line-height: $hsix + 6 + px;
	}
	@include respond-to(lg) {
	    font-size: $hsix * 0.9 + px;
    	line-height: $hsix + 7 + px;
	}
	@include respond-to(xl) {
	    font-size: $hsix + px;
	}
	@include respond-to(tablet) {
	    font-size: $hsix * 0.8 + px;
    	line-height: $hsix + 6 + px;
	}
	@include respond-to(mobile) {
	    font-size: $hsix * 0.7 + px;
    	line-height: $hsix + 5 + px;
	}
	@include respond-to(sm) {
	    font-size: $hsix * 0.7 + px;
    	line-height: $hsix + 5 + px;
	}	
}

h6 {
	@include h-six;
}

blockquote {
	@include h-two;
}


$para : 17;

@mixin body{
 	font-family: $primary-font;
	color: $offblack;
	font-weight: 400;
    font-size: $para + px;
    line-height: 1.6;
    margin-bottom: 30px;
	@include respond-to(md) {
	    font-size: $para * 1 + px;
	}
	@include respond-to(lg) {
	    font-size: $para * 1 + px;
	}
	@include respond-to(xl) {
	    font-size: $para + px;
	}
	@include respond-to(tablet) {
	    font-size: $para * 1 + px;
	}
	@include respond-to(mobile) {
	    font-size: $para * 0.75 + px;
		line-height: 1.4;
	}
	@include respond-to(sm) {
	    font-size: $para * 0.75 + px;
		line-height: 1.4;
	}
}

p, .plain-text {
	@include body;
}


body{
	@include body;
	margin-bottom: 0;
}

blockquote {
  font-style: italic;	
}

strong, b, .bold{
    font-weight: 700;
}

em, i, .italic {
    font-weight: 700;
}


ol, ul, li {
	@include body;
	margin-bottom: 20px
}

p, .plain-text {
	@include body;
}

ul li {
  list-style-type:disc;
  margin-left: 1rem;
}

ol li {
  list-style-type: decimal;
  margin-left: 2rem;
	&::marker{
		font-size: inherit;
		color: $offblack;
	}
}

li:last-child {
  padding-bottom: 0.5rem;
}


a {
	color: $offblack;
	text-decoration: none;
	position: relative;
	font-weight: 600;
	@include transition;
	// &:before{
	// 	content:"";
	// 	height: 1px;
	// 	width: 0%;
	// 	position: absolute;
	// 	bottom: 0;
	// 	@include transition;
	// }
	// &:hover{
	// 	color: $offblack;
	// 	@include transition;
	// 	&:before{
	// 		width: 100%;
	// 		@include transition;
	// 	}
	// }
}

input {
	@include body;
	font-weight: 600;
	border-left:0;
	border-right:0;
	border-top:0;
	// border-bottom: 1px solid $orange;
	padding: 8px 14px;
	// width:80%;
	display: block;
}

textarea{
	@include body;
	// font-weight: 600;
	// border: 1px solid $orange;
	padding: 10px 20px;
	width:80%;
	display: block;
}

input[type=submit]{
	font-weight: 600;
	max-width: 200px;
	// @include buttondefault;
}

.bold {
  font-weight:700;
}

.italic{
  font-style: italic;	    
}

.caps{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

input, textarea{
     font-family: $primary-font;
     font-weight:400;
}

